.navBar {
  display: flex;
  flex-direction: row;
  background-color: rgb(242, 230, 255);
  border-bottom-style: dotted;
  border-bottom-width: 6px;
  border-bottom-color: rgb(175, 175, 175);
  align-items: baseline;
  min-height: 80px;
  padding-left: 500px;
  font-size: xx-large;
}

.cart-items {
  display: contents;
  flex-direction: row;
  align-items: center;
  margin-left: 200px;
}

.cart-num {
  background-color: rgba(255, 122, 253, 0.281);
  color: rgba(255, 255, 255, 0.534);
  border-radius: 50px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
}

.all-products {
  display: flex;
  margin: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: dashed;
  border-width: 10px;
  border-color: rgb(254, 217, 253);
  border-radius: 10px;
  max-width: 200px;
}

.card-img-top {
  border-top-left-radius: 40px;
  border-top-right-radius: 10px;
  
  width: 100px;
}

.card-body {
  color:  white;
  margin: 40px;
}

.btn {
  background-color: rgb(247, 139, 247);
  color: white;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  border-radius: 30px;
  border-width: 10px;
}

a {
  color: rgb(230, 82, 197);
  text-decoration: dotted;
  cursor: pointer;
  text-align: center;
}

.cart-container {
  margin: 30px;
  
}

.card-cart {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(246, 194, 247);
  border-radius: 10px;
  max-width: 500px;
}

.card-img-left {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 20px;
}

.cart {
  display: flex;
  justify-content: center;
  margin: 20px;
  color: white;
  font-size: 35px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgb(242, 230, 255);
  color: rgb(230, 82, 197);
}